---
import { Github } from "lucide-astro";
import { Star } from "lucide-astro";
import { ArrowUpRight } from "lucide-astro";
import { GitFork } from "lucide-astro";

interface Props {
  title: string;
  description: string;
  picture?: string;
  url?: string;
  repo?: string;
  stars?: number;
  forks?: number;
  stack?: string;
  hovered?: string;
  page?: string;
  onMouseEnter?: () => void;
  onMouseLeave?: () => void;
  outside?: boolean;
}

const {
  title,
  description,
  picture,
  url,
  repo,
  outside,
  stars,
  forks,
  stack,
  hovered,
  page,
  onMouseEnter,
  onMouseLeave,
} = Astro.props;

const stackItems = stack?.split(",");
---

<div
  class="my-1 hover:bg-purple-800 w-full rounded-2xl border border-transparent bg-purple-900 px-3 py-1 transition duration-300"
  transition:name={`${title}-bg`}
>
  <div class="flex flex-col items-center sm:flex-row">
    {
      picture && (
        <div
          class={`h-28 w-44    ${
            hovered === title ? "  brightness-125   " : ""
          }`}
        >
          <img
            class="h-full w-full object-fill"
            src={`/${picture}`}
            alt={title}
            transition:name={`${title}-picture`}
            width={300}
            height={200}
          />
        </div>
      )
    }
    <div class="ml-3 w-full">
      <div
        class="text-xl font-semibold group"
        transition:name={`${title}-title`}
      >
        {
          page || url || repo ? (
            (outside) ? (
            <a
              href={page || url || repo}
        rel="noopener noreferrer"
        target="_blank"
              class="flex flex-row items-center group-hover:underline"
            >
              <div class="">{title}</div>
              <ArrowUpRight class="transform transition-all duration-200 group-hover:translate-x-1 group-hover:translate-y-[-1px] group-hover:scale-125" />
            </a>

            ):(
            <a
              href={page || url || repo}
              class="flex flex-row items-center group-hover:underline"
            >
              <div class="">{title}</div>
              <ArrowUpRight class="transform transition-all duration-200 group-hover:translate-x-1 group-hover:translate-y-[-1px] group-hover:scale-125" />
            </a>

            )
          ) : (
            <div class="flex items-center">
              <div>{title}</div>
            </div>
          )
        }
      </div>
      <div>
        <div>{description}</div>
        <div class="flex flex-row flex-wrap">
          {
            stackItems?.map((item) => (
              <div class="m-0.5 truncate rounded-lg bg-pink-800 p-1 text-sm">
                {item}
              </div>
            ))
          }
        </div>
      </div>
      <div class="mt-1 flex flex-row items-center">
        {(stars || forks) && <Github />}
        {
          stars && (
            <div class="transtion flex flex-row items-center duration-300 hover:text-orange-300">
              <div class="px-1 font-semibold">{stars}</div>
              <Star />
            </div>
          )
        }
        {
          forks && (
            <div class="flex flex-row items-center transition duration-300 hover:text-blue-500">
              <div class="px-1 font-semibold">{forks}</div>
              <GitFork />
            </div>
          )
        }
      </div>
    </div>
  </div>
</div>
